<%= render 'shared/school_error_messages' %>

<div class="form-group">
  <%= f.label :name, "School Name" %>
  <%= f.text_field :name, class: "form-control"%>
</div>
<div class="form-group">
  <%= f.label :website, "School Website" %>
  <%= f.text_field :website, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :address, "School Address" %>
  <%= f.text_field :address, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :contact, "School Contact" %>
  <%= f.text_field :contact, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, "School Email" %>
  <%= f.text_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :tags, "Add comma seperated tags" %>
  <%= f.text_field :tag_list, class: "form-control" %>
</div>
