<% provide(:title, @school.name) %>
<div class="well">
  <h1 id="school_name"><%= @school.name %></h1>
  <p>
  Website: <a href = "http://<%= @school.website %>"><%= @school.website %></a></br>
    Address: <%= @school.address %></br>
    Contact: <%= @school.contact %></br>
    Email:   <%= @school.email %></br>
    Tags:    <%= raw @school.tag_list.map { |t| link_to t, tag_path(t), class: "school_tags" }.join(', ') %>
  </p>
</div>
